# Folders to ignore
.DS_Store
node_modules/
dist/
output/
.vscode/
.idea/
.env
__pycache__/
.website/
# File wildcards to ignore
*.log
*.tmp
*.bak
*.swp
*.old
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sublime-workspace
*.sublime-project
*.code-workspace
# Files specifc to ignore
.github/copilot-instructions.md
WindowsBuildCertificate.code-workspace